.title {
    color: black;
    background-color: bisque;
    font-size: 60px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}
.bob,
.bit,
.rat {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.title2 {
    text-align: center;
    color: rgb(17, 18, 17, 0.926);
    background-color: rgb(195, 179, 179);
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;  
        }
.heading {
    color: rgba(39, 46, 33, 0.926);
    background-color: rgb(137, 170, 175);
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    
}
.ingredients,
.steps,
.Optional,
.fact  {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}
.subheading,
.subhead,
.sub {
    font-size: 25px;
    color: rgba(14, 15, 14, 0.926);
    font-weight: 700;
    text-align: left;
    font-family:'Times New Roman', Times, serif
}
.subheading{
    background-color: rgb(167, 168, 112);
}
.subhead {
    background-color:rgb(133, 109, 136) ;

}
.sub {
background-color: rgb(176, 119, 98);
}
.image {
    height: auto;
    width: auto;
    text-align: center;
}
